.navbar{
    background-color: #222F5F;
    height: auto;
}

.entrego_header_logo{
    margin-bottom: 15px;
    margin-left: -89px;
}

a {
    cursor: pointer;  
}

.nav-item{
    color: white;
}

.top_banner{
    z-index: 1;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-image: url(./EntregoAssets/home/bg-homebanner.png);
}
    